/** @format */

//как использовать - main_content{@include mainContent}
.main_content {
	@include mainContent(16px, rgb(255, 255, 255));
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #f8f9fa 28%, #f8f9fa 100%);
	font-weight: 500;
	line-height: 1.3em;
	letter-spacing: 0.2px;
}

.modal-block-show {
	display: block;
	animation: anim 0.5s ease;
}

* {
	scroll-behavior: smooth;
	// transition-duration: 0.5s;
	// transition: 0.5s;
}

.select__dropdown {
	position: relative;
	color: $main_text_color;
	.dropdown__title {
		padding: 14px 30px;
		background: rgba(250, 235, 215, 0);
		border-radius: 39px;
		border: 1px solid rgb(133 141 146 / 8%);
		box-shadow: 1px 1px 6px 0px rgb(165 165 165 / 25%);
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/312860/content_group_1024.png) no-repeat 95% 50%;
	}
	.dropdown__option {
		position: absolute;
		top: 60px;
		left: 0;
		display: none;
		grid-gap: 8px;
		// padding-left: 30px;
		background: #f8f9fa;
		width: 100%;
		border-radius: 5px;
		z-index: 1;

		.option__item {
			padding: 12px 0px;
			padding-left: 30px;
			box-shadow: -1px 1px 3px 0px rgb(29 66 98 / 7%);
			border-radius: 5px;
			background: #f8f9fa;
			letter-spacing: 0.5px;
		}
		.option__item:hover {
			background: $corporate_color;
			color: white;
			transition-duration: 0.3s;
		}
	}
	.dropdown__option_active {
		display: grid;
	}
}

.select__dropdown:hover {
	cursor: pointer;
}

.accent {
	color: $corporate_color;
}
.accentOrange {
	color: #e57443;
}
.fat {
	font-weight: 700;
}

.block__item {
	img {
		max-width: 300px;
		width: 100%;
		transition-duration: 0.5s;
	}

	.item__heading {
		font-weight: 700;
		margin: 20px 0 10px;
	}
	.item__img {
		overflow: hidden;
		width: fit-content;
		border-radius: 10px;
	}
}
.block__item:hover > .item__img img {
	transform: scale(1.1);
}

.toolbarScroll {
	padding: 24px 0px;
	transition-duration: 0.5s;
}

.sectionTab {
	color: $main_text_color;
}

.blog,
.case,
.reviews {
	padding: calc(var(--section) + 161px) 0 var(--block);
}

.blog,
.instruction {
	padding-top: calc(var(--section) + 161px);
	.blog__wrapper {
		@include grid(var(--section), auto 1fr);
	}
	.blog_themes,
	.instruction_themes {
		position: sticky;
		top: 127px;
		height: fit-content;
		// max-width: 260px;
		min-width: 230px;
		.theme__heading {
			font-weight: 700;
		}
		.theme__item {
			padding: 20px 0;
			border-bottom: 1px solid #2e3b4f34;
		}
		.theme__item:hover {
			color: $corporate_color;
			cursor: pointer;
		}
		.theme__mobile {
			display: none;
		}
	}
	.blog_article {
		padding: 0 24px;
		.article__heading {
			font-weight: 700;
			margin-bottom: 10px;
		}
		.article__new {
			background: #028ad815;
			border-radius: 10px;
			padding: 24px;
			margin: var(--block) -24px 0;
			.new__heading {
				color: $corporate_color;
			}
			.new__block {
				@include grid(var(--block), 1fr 1fr 1fr);
				margin-top: 20px;
			}
		}

		.article__theme,
		.instructionVideo__theme {
			padding: var(--block) 0;
			border-top: 1px solid #2e3b4f34;
			border-bottom: 1px solid #2e3b4f34;
			margin-top: 20px;

			.theme__heading {
				color: $corporate_color;
			}
			.theme__block {
				@include grid(var(--block), 1fr 1fr 1fr);
				margin-top: var(--block);
				.item__instruction {
					max-width: 300px;
				}
			}
			.themeBlock,
			.instructionThemeBlock {
				display: none;
			}
			.themeBlockInstruction {
				.block__item {
					max-width: 300px;
				}
			}
			.themeBlock:first-child,
			.instructionThemeBlock:first-child {
				display: block;
			}
			.item__img {
				position: relative;
				// padding-bottom: 40.5%;
				// padding-top: 25px;
				height: 182px;
				animation: animVideo 0.5s ease;
				.item__instruction {
					max-width: 1920px;
					width: 100%;
					display: block;
					height: 100%;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					// position: absolute;
				}
			}
			@keyframes animVideo {
				0% {
					height: 181px;
				}
				100% {
					height: 182px;
				}
			}

			.item__timing {
				.timing__header {
					@include grid(16px, auto 1fr);
					justify-items: right;
					// background: #e1eff8;
					box-shadow: 1px 5px 5px 2px #e1eff8;
					padding: 12px;
					border-radius: 10px;
					justify-items: right;
					position: relative;
					cursor: pointer;
				}
				.header__button {
					border: 1px solid $corporate_color;
					height: 20px;
					width: 40px;
					border-radius: 50px;
					position: relative;
					transition-duration: 1s;
					transition-property: all;
					.button__false {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						background: $corporate_color;
						width: 20px;
						height: 18px;
						border-radius: 50px;
						transition-duration: 1s;
						transition-property: all;
					}
					.button__false.button__true {
						animation: animTimingButton 0.8s ease;
						animation-fill-mode: forwards;
						transition-duration: 1s;
						transition-property: all;
					}
				}
			}
			.timing__time {
				padding-top: 16px;
				display: grid;
				grid-gap: 4px;
				padding-left: 12px;
				display: none;
				transition: 1s;
				height: auto;
				transition: height 0.4s;
			}
			.timing__time_true {
				transition: max-height 1.5s;
				max-height: 200px;
				display: grid;
				transition: 1s;
				animation: animTiming 1.5s ease;
				height: fit-content;
			}
			.header_plank {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: #028dd800;
				z-index: 1;
			}
			@keyframes animTiming {
				0% {
					max-height: 0%;
					opacity: 0;
				}
				100% {
					opacity: 1;
					max-height: 100%;
				}
			}
			@keyframes animTimingButton {
				0% {
					left: 0;
				}
				100% {
					left: 50%;
					height: 18px;
				}
			}
		}
		.instructionVideo__theme {
			.theme__block {
				@include grid(var(--block), 1fr);
			}
			.item__img {
				position: relative;
				padding: 0 0 56.25% 0;
				height: 0;
				overflow: hidden;
				width: 100%;
			}
			.item__img iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}
.case {
	.case__subtitle {
		margin-top: 10px;
	}
	.case__wrapper {
		@include grid(var(--block), repeat(auto-fit, minmax(280px, 1fr)));
	}

	.wrapper__block {
		margin-top: var(--block);
		padding: 30px;
		border-radius: 40px;
		background: #ffffff;
		box-shadow: 3px 2px 5px 0px #e7edf7;
		.block__heading {
			font-weight: 700;
			font-size: 20px;
			margin-bottom: 10px;
		}
		.block__result {
			margin-top: 30px;
			display: grid;
			grid-gap: 10px;
		}
		.section-button {
			margin-top: 30px;
		}
	}
	.wrapper__blockMedika {
		background: #d2ebf88f;
	}
}
.reviews {
	.reviews__subtitle {
		margin-top: 10px;
	}
	.reviews__block {
		margin-top: var(--block);
		display: grid;
		grid-gap: var(--block);
		grid-template-columns: 1fr 1fr;
		.item__title {
			font-weight: 700;
			margin: 20px 0 10px;
		}
	}
	.block__item {
		position: relative;
		padding-bottom: 55.5%;
		// padding-top: 25px;
		height: 315px;
		animation: animReviewsVideo 0.5s ease;
		.item__reviews {
			max-width: 1920px;
			width: 100%;
			display: block;
			height: 100%;
			border-radius: 15px;
			position: absolute;
		}

		.item__heading {
			margin: var(--block) 0 20px;
		}
		.item__subtitle {
			max-width: 700px;
		}
		.item__resalt {
			margin-top: var(--block);
		}
		.item__offer {
			margin: 20px 0;
			display: grid;
			grid-gap: 10px;
			max-width: 700px;
		}
		img {
			max-width: 100%;
		}
	}
	@keyframes animReviewsVideo {
		0% {
			height: 314px;
		}
		100% {
			height: 315px;
		}
	}
}

.reviews,
.case,
.instruction {
	display: none;
}

.derevianko {
	color: #2e3b4f;
	font-family: 'Montserrat', sans-serif;
	margin-top: var(--section_h2);
	font-weight: 500;
	.section-buttonAccent {
		background: $corporate_color;
		border: 1px solid $corporate_color;
	}
	.section-buttonAccent:hover {
		background: rgba(255, 0, 0, 0);
		color: $corporate_color !important;
	}
	.popap_infoCompany {
		margin-top: 20px;
		max-width: 750px;
	}
	.modal__task,
	.modal__result,
	.modal__work {
		box-shadow: 0px 3.54384px 124.034px rgba(46, 59, 79, 0.05);
		border-radius: 40px;
		background: #ffffff;
		padding: var(--block) var(--section);
	}
	.modal__task {
		margin-top: 40px;
		.task__block {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 10px;
			margin: 16px 0 var(--block);
			.block__item {
				@include grid(16px, auto 1fr);
				align-items: center;
			}
			.item__icon {
				width: 40px;
				height: 40px;
				background: $corporate_color;
				border-radius: 50%;
				color: white;
				display: grid;
				align-items: center;
				justify-content: center;
				font-size: 18px;
				font-weight: 700;
			}
		}
		.solution__block {
			margin-top: 23px;
			.solution__imgOne {
				margin: 24px 0;
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					max-width: 1920px;
					width: 100%;
				}
			}
			.solution__imgMore {
				margin: 24px 0;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
				justify-content: center;
				max-width: 1920px;
				align-items: center;
				img {
					max-width: 400px;
					width: 100%;
				}
			}
		}
	}
	.modal__work {
		margin-top: var(--section_h2);
		.work__block {
			margin-top: var(--block);
			.work__title {
				padding: 10px 40px;
				background: rgb(0 132 255 / 10%);
				border-radius: 30px;
				width: fit-content;
			}
		}
	}

	.modal__result {
		margin-top: var(--section_h2);
		.chart__block {
			@include grid(32px, 1fr 1.5fr);
			justify-items: flex-end;
		}
		img {
			max-width: 100%;
		}
		.item__img {
			max-width: 100%;
			width: 100%;
		}

		.block__item {
			.item__offer {
				display: grid;
				grid-gap: 20px;
			}
			.item__line {
				width: 230px;
				height: 2px;
				background: #2e3b4f;
				opacity: 0.2;
				margin: var(--block) 0 20px;
			}
			.item__subtitle {
				margin: 20px 0;
			}
			.item__note {
				color: #2e3b4f;
				opacity: 0.5;
			}
			.item__icon {
				@include grid(20px, auto 1fr);
				margin-top: var(--block);
				img {
					width: 20px;
				}
				.icon__item {
					@include grid(10px, auto 1fr);
					align-items: center;
				}
			}
		}
	}

	.modal__end {
		margin-top: var(--section_h2);
		.end__subtitle {
			margin: var(--block) 0;
		}
	}
}

@media (min-width: 1920px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1240px) {
	.toolbar-rascal {
		.toolbar__block {
			.toolbar__tab {
				.tab__item {
					font-size: 14px;
					padding: 5px 14px;
				}
				.tab__item:hover {
					padding: 5px 14px;
				}
			}
			.toolbar__icon a {
				width: 30px;
			}
		}
		.logo {
			width: 110px;
		}
	}
	.main_content {
		background: #f8f9fa;
	}
	.blog,
	.instruction {
		.blog_article {
			padding: 0 0px;
		}
		.blog__wrapper {
			grid-template-columns: 1fr;
			grid-gap: 40px;
		}
		.blog_themes,
		.instruction_themes {
			position: unset;
			display: grid;
			grid-template-columns: auto 1fr;
			align-items: center;
			grid-gap: 24px;
			.theme__desktop {
				display: none;
			}
			.theme__mobile {
				display: block;
			}
		}
	}
}

@media (max-width: 1024px) {
	// .reviews .block__item .item__reviews {
	// 	height: 434px;
	// }
	:root {
		--section: 40px;
		--block: 24px;
	}

	.main_content {
		font-size: 14px;
	}

	.derevianko {
		.modal__result {
			.chart__block {
				grid-template-columns: 1fr;
			}
		}
	}
}

@media (max-width: 800px) {
	.blog,
	.case,
	.reviews,
	.instruction {
		padding-top: calc(var(--section) + 100px);
	}
	.blog,
	.instruction {
		.blog_article {
			.article__new {
				.new__block {
					grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
					justify-items: center;
					margin: 0 auto;
					margin-top: 20px;
					a {
						max-width: 300px;
					}
				}
			}
			.article__theme,
			.instructionVideo__theme {
				.theme__block {
					grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
					justify-items: center;
					margin: 0 auto;
					margin-top: 20px;
					a {
						max-width: 300px;
					}
				}
			}
			.instructionVideo__theme {
				.theme__block {
					grid-template-columns: 1fr;
					.block__item {
						width: 100%;
					}
				}
			}
		}
	}
}

@media (max-width: 660px) {
	.blog,
	.case,
	.reviews,
	.instruction {
		padding-top: calc(var(--section) + 80px);
	}
	.derevianko,
	.derevianko .modal__task,
	.derevianko .modal__result {
		padding: var(--block) 20px;
		margin: 40px -16px 0;
	}
	.derevianko .modal__task,
	.derevianko .modal__result,
	.derevianko .modal__work {
		margin: 40px -16px 0;
	}
	.derevianko {
		font-size: 14px;
		margin-top: 0;
	}
	.section-buttonToolbar {
		display: none;
	}
	.toolbar-rascal {
		.toolbar__block {
			.toolbar__icon a {
				width: 21px;
			}
			.toolbar__tab {
				margin-right: 8px;
				.tab__item {
					font-size: 12px;
					padding: 5px 2px;
				}
				.tab__item:hover {
					padding: 5px 2px;
				}
			}
			.toolbar__feedback {
				grid-gap: 0px;
			}
		}
	}
	.reviews .block__item {
		height: 192px;
	}

	.blog,
	.instruction {
		.blog_article {
			.article__theme {
				.theme__block {
					max-width: 300px;
				}
			}
		}
	}
}
@media (max-width: 480px) {
	.derevianko .modal__result .block__item .item__icon {
		grid-template-columns: auto;
	}
	.blog,
	.instruction {
		.blog_themes,
		.instruction_themes {
			grid-template-columns: 1fr;
		}
	}
	.reviews .reviews__block {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 340px) {
	.reviews .block__item .item__reviews {
		height: 191px;
	}
}
