/** @format */
$corporate_color: #028dd8;
$main_text_color: #1d4262;
$forButton: #0d5490;
$color_white: #fff;
$accentF: #028dd8;
$accent: linear-gradient(176.44deg, #028dd8 -106.04%, #0258d8 327.5%);
$accentColor: #028dd8;
$forToolbar: #fff;
$forFooter: $main_text_color;

:root {
	--section_h1: 100px;
	--section: 80px;
	--block: 40px;
}
