.modal-wrapper
    img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/219819/content_cancel.png' alt='' )
    .modal-wrapper-block(data-popup='popup1')
        .modal-block
            .modal-content.derevianko 
                p.section_h2 Компания ИП Деревянко, г. Новосибирск
                .popap_infoCompany    
                    p ДИОНИКС, г. Новосибирск #[br] Продажа сырья для производства ЛКМ, сухих строительных смесей, пластмасс, #[br] абразивных и прочих материалов.
                .popap_infoCompany    
                    p 10 лет компания размещает свои товары в каталоге Пульса цен С 2019 года подключен платный тариф «Старт.Серебро».
                .modal__task
                    .section_h3 Поставленные задачи:
                    .task__block.sectionHintRel 
                        .block__item 
                            .item__icon 1
                            p Создать сайт для продажи теплиц и товаров для сада и огорода в Новосибирске.
                        .block__item 
                            .item__icon 2
                            p Загрузить товары на сайт в короткие сроку.
                        .block__item 
                            .item__icon 3
                            p Обеспечить оптимальный трафик на сайт и положительную динамику роста.
                        .block__item 
                            .item__icon 4
                            p Обеспечить узнаваемость компании в нужных регионах (Новосибирск, Омск, Красноярск, Бердск)
                        .block__item 
                            .item__icon 5   
                            p Обеспечить регулярный поток заявок и звонков из городов Сибири.
                    .section_h3 Решение:
                    .solution__block
                        //- если нужно обно большое изображение
                        .solution__imgOne
                            img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/303258/content_group_1439.png", alt="")
                        //- если нужны много мелких изображений
                        .solution__imgMore
                            img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/303148/content_group_1414.png", alt="")
                            img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/303146/content_group_1409.png", alt="")
                            img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/303147/content_group_1397.png", alt="")
                            img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/303148/content_group_1414.png", alt="")
                        .list
                            .list__li.list__li_gray Разработали оформление сайта в соответствии с фирменным стилем компании, требованиями юзабилити и трендами интернет-продаж.
                            .list__li.list__li_gray Подключили профессиональный протокол безопасности соединения клиента с сайтом (SSL-сертификат), необходимый по требованиям поисковых систем.
                .modal__work 
                    .section_h3 Проделанная работа
                    .work__block 
                        .work__title.fat.accent Сайт
                        .list
                            .list__li.list__li_gray Разработали оформление сайта в соответствии с фирменным стилем компании, требованиями юзабилити и трендами интернет-продаж.
                            .list__li.list__li_gray Подключили профессиональный протокол безопасности соединения клиента с сайтом (SSL-сертификат), необходимый по требованиям поисковых систем.
                            .list__li.list__li_gray Привязали сайт к сервисам Вебмастер Яндекс и Google для старта поисковой оптимизации.
                            .list__li.list__li_gray Подключили счетчик Яндекс Метрики для отслеживания активности посетителей, настройка целей для получения более глубоких данных.
                            .list__li.list__li_gray Заполнили информационные разделы сайта: страницы «о компании», «контакты» и «доставка и оплата».
                            .list__li.list__li_gray Создали матрицу элементов для активных действий покупателя: кнопки «заказать», «в корзину», «подробнее», «сохранить поставщика», «задать вопрос», а также тематические «выбрать теплицу».
                            .list__li.list__li_gray Регулярно проводим аналитику по сайту для улучшения пользовательских характеристик и привлекательности сайта для посетителей.
                    .work__block 
                        .work__title.fat.accent Каталог
                        .list
                            .list__li.list__li_gray Разработали удобную навигацию по группам товаров, чтобы покупателю было легче найти нужное.
                            .list__li.list__li_gray Создали структуру групп и распределили по ним 422 товара.
                            .list__li.list__li_gray Привязали товары к 83 рубрикам Пульса цен, чтобы покупатели могли быстро их находить.
                            .list__li.list__li_gray Выявили приоритетные товары и проработали их оформление и уникальные описания.
                            .list__li.list__li_gray Регулярное обновление товарного каталога, изображений, описаний и т.д.
                    .work__block 
                        .work__title.fat.accent Другое
                        .list
                            .list__li.list__li_gray На главной странице разместили витрину приоритетных товаров.
                            .list__li.list__li_gray Создали и разместили слайдер с главными товарами.
                            .list__li.list__li_gray Подключали дополнительные инструменты продвижения (оплачиваются отдельно)
                            .list__li.list__li_gray Подключили заказчика к базе готовых заказов на все регионы России — уникальная разработка Пульса цен — сервису «Закупки». Клиенты, у которых нет времени искать большой перечень товаров поштучно, загружают весь список и алгоритм автоматически подбирает поставщиков. Уведомления о заказе приходит на почту к тем компаниям, кто может закрыть сделку.
                .modal__result 
                        .chart__block 
                            .block__item 
                                .item__offer 
                                    .section_h3 Результаты:

                                    div За 2021 год компания получила 384 заказа и заработала 2,9 млн рублей на продаже товаров при помощи Пульса цен.
                                        
                                    .offer__grid 
                                        p #[span.accent 462 ] заказа с сайта Дионикс на Пульсе цен
                                        p #[span.accent 462 ] заказа с сайта Дионикс на Пульсе цен
                                        p #[span.accent 462 ] заказа с сайта Дионикс на Пульсе цен
                                    .offer__grid 
                                        p #[span.accent 462 ] заказа с сайта Дионикс на Пульсе цен
                                        p #[span.accent 462 ] заказа с сайта Дионикс на Пульсе цен
                                        p #[span.accent 462 ] заказа с сайта Дионикс на Пульсе цен
                                .item__icon 
                                    .icon__item 
                                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/299222/content_ellipse_29.png", alt="")
                                        p Посетители
                                    .icon__item 
                                        img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/299221/content_ellipse_30.png", alt="")
                                        p Просмотры
                            .block__item 
                                img.item__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/312455/content_grafik.png", alt="")
                .modal__end 
                    .end__title.section_h3 Хотите так же?
                    .end__subtitle Закажите бесплатную консультацию, менеджер расскажет как успешно продавать товары на Пульсе цен.
                    +button('Заказать бесплатную консультацию', 'Заказать бесплатную консультацию', 'section-buttonAccent')

                