<!-- @format -->
include ./miksins.pug


html(lang="ru")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		title= "оставить товары"
	body.js-body
		.main_content
			header
				include ./modules/toolbar.pug
				.header
					.content
						.header__wrapper
							.header__text
								.header__heading.section_h2 ОБНОВЛЕНИЕ ПУЛЬСА ЦЕН
								.header__subtitle.section_h3.accent I квартал 2022 года
								img.mobile__img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/313576/content_group_1119.png")
								.list 
									a(href="#1").list__li Обрабатывайте все лиды в одном месте в привычном интерфейсе Битрикс24
									a(href="#2").list__li Оцените новый дизайн мобильной карточки товара
									a(href="#3").list__li Ищите клиентов с телефона в базе готовых заявок Закупки
									a(href="#4").list__li Добавьте важную информацию в шапку сайта
									a(href="#5").list__li Привлекайте внимание покупателей Спецпредложениями
								.offer
									p #[b Пульс цен] — это сервис управления продажами и покупками с возможностью создавать полноценное онлайн-представительство компании в 200+ городах России и ближнего Зарубежья.
									
							.header__img
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/313576/content_group_1119.png")

			section#1.sectionWrapper.padBottomSection.padTopSection.block_white
				.content 
					.sectionWrapper__header.section_h4 НОВЫЕ ВОЗМОЖНОСТИ
					.sectionWrapper__heading.section_h2 Обрабатывайте все лиды в одном месте
					.sectionWrapper__offer 
						p Не секрет, что разные каналы продаж работают с разной эффективностью. Зачастую вал звонков с досок объявлений лишь отнимает время менеджеров на обработку мелких розничных заявок, тогда как целевые обращения с торговых площадок дают хороший чек и высокую конверсию. Как в этом убедиться? Подключите все каналы продаж к Битрикс24 и отслеживайте все лиды в одном месте: звонки, заказы, заявки из мессенджеров, письма на электронную почту.
						p Здесь легко обрабатывать заявки, контролировать работу продавцов и оценивать эффективность рекламных каналов. Вы экономите время. Вам больше не нужно заходить в разные рекламные кабинеты, чтобы отслеживать новые лиды.
						p Подключите интеграцию сайта на Пульсе цен с Битрикс24, и все заказы от покупателей с площадки будут приходить туда автоматически. А, значит, вы не пропустите ни одного обращения от клиентов.
						p Подключить интеграцию легко! Вам не нужны специальные знания, наши специалисты настроят все сами. Возможно, вам даже не нужно ничего доплачивать – интеграция с Битрикс уже включена во все тарифы «Бизнес» и «Все включено», а также в обновленный «Старт».
						p Оставьте заявку, и менеджер расскажет о возможности подключения услуги на вашем тарифе.
					+button('Оставить заявку на подключение Битрикс24', 'Оставить заявку на подключение Битрикс24', "section-buttonAccent")
			section.sectionWrapper.padBottomSection.padTopSection.block_blue
				.content
					.sectionWrapper__header.section_h4 МОБИЛЬНЫЙ ПУЛЬС ЦЕН
					.sectionWrapperBlock 
						.sectionWrapper__block#2 
							.block__item 
								p.section_h2 Оцените новый дизайн мобильной карточки товара
								.sectionWrapper__offer 
									p Количество «мобильных» покупателей растет с каждым годом. Чтобы вы не теряли ни одного клиента, выбор и покупка товаров в мобильной версии вашего сайта на Пульсе цен теперь максимально простые и удобные.
									.list 
										p Мобильная карточка товара имеет облегченный дизайн и содержит только необходимую информацию о продукте:
										.list__li_gray конверсионные кнопки: Заказать, Добавить в корзину и Заказать звонок менеджера
										.list__li_gray раскрывающиеся информационные блоки при нажатии на +
										.list__li_gray раскрывающиеся информационные блоки при нажатии на +
										.list__li_gray метки для привлечения внимания покупателей
										.list__li_gray адаптивные картинки, которые можно свайпать и открывать в Просмотре изображений
								+button('Оставить заявку на подключение Битрикс24', 'Оставить заявку на подключение Битрикс24', "section-buttonAccent")
							.block__item
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/313575/content_rectangle_1223.png", alt="").item__img
						.sectionWrapper__block#3 
							.block__item 
								p.section_h2 Оцените новый дизайн мобильной карточки товара
								.sectionWrapper__offer 
									p Количество «мобильных» покупателей растет с каждым годом. Чтобы вы не теряли ни одного клиента, выбор и покупка товаров в мобильной версии вашего сайта на Пульсе цен теперь максимально простые и удобные.
									.list 
										p Мобильная карточка товара имеет облегченный дизайн и содержит только необходимую информацию о продукте:
										.list__li_gray конверсионные кнопки: Заказать, Добавить в корзину и Заказать звонок менеджера
										.list__li_gray раскрывающиеся информационные блоки при нажатии на +
										.list__li_gray раскрывающиеся информационные блоки при нажатии на +
										.list__li_gray метки для привлечения внимания покупателей
										.list__li_gray адаптивные картинки, которые можно свайпать и открывать в Просмотре изображений
								+button('Оставить заявку на подключение Битрикс24', 'Оставить заявку на подключение Битрикс24', "section-buttonAccent")
							.block__item
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/313575/content_rectangle_1223.png", alt="").item__img
			section.sectionWrapper.padBottomSection.padTopSection.block_white
				.content 
					.sectionWrapper__header.section_h4 НОВЫЕ ВОЗМОЖНОСТИ
					.sectionWrapperBlock
						.sectionWrapper__block#4 
							.block__item 
								p.section_h2 Оцените новый дизайн мобильной карточки товара
								.sectionWrapper__offer 
									p Количество «мобильных» покупателей растет с каждым годом. Чтобы вы не теряли ни одного клиента, выбор и покупка товаров в мобильной версии вашего сайта на Пульсе цен теперь максимально простые и удобные.
									.list 
										p Мобильная карточка товара имеет облегченный дизайн и содержит только необходимую информацию о продукте:
										.list__li_gray конверсионные кнопки: Заказать, Добавить в корзину и Заказать звонок менеджера
										.list__li_gray раскрывающиеся информационные блоки при нажатии на +
										.list__li_gray раскрывающиеся информационные блоки при нажатии на +
										.list__li_gray метки для привлечения внимания покупателей
										.list__li_gray адаптивные картинки, которые можно свайпать и открывать в Просмотре изображений
								+button('Оставить заявку на подключение Битрикс24', 'Оставить заявку на подключение Битрикс24', "section-buttonAccent")
							.block__item
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/313575/content_rectangle_1223.png", alt="").item__img
						.sectionWrapper__block#5 
							.block__item 
								p.section_h2 Оцените новый дизайн мобильной карточки товара
								.sectionWrapper__offer 
									p Количество «мобильных» покупателей растет с каждым годом. Чтобы вы не теряли ни одного клиента, выбор и покупка товаров в мобильной версии вашего сайта на Пульсе цен теперь максимально простые и удобные.
									.list 
										p Мобильная карточка товара имеет облегченный дизайн и содержит только необходимую информацию о продукте:
										.list__li_gray конверсионные кнопки: Заказать, Добавить в корзину и Заказать звонок менеджера
										.list__li_gray раскрывающиеся информационные блоки при нажатии на +
										.list__li_gray раскрывающиеся информационные блоки при нажатии на +
										.list__li_gray метки для привлечения внимания покупателей
										.list__li_gray адаптивные картинки, которые можно свайпать и открывать в Просмотре изображений
								+button('Оставить заявку на подключение Битрикс24', 'Оставить заявку на подключение Битрикс24', "section-buttonAccent")
							.block__item
								img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/313575/content_rectangle_1223.png", alt="").item__img
			section.sectionCard.block_white
				.content 
					.sectionCard__block 
						.block__item
							.item__header.section_h4 НОВЫЕ ВОЗМОЖНОСТИ
							.item__title.section_h3 Оцените новый дизайн мобильной карточки товара
							.item__subtitle Количество «мобильных» покупателей растет с каждым годом. Чтобы вы не теряли ни одного клиента, выбор и покупка товаров в мобильной версии вашего сайта на Пульсе цен теперь максимально простые и удобные.
							+button('Оставить заявку на подключение Битрикс24', 'Оставить заявку на подключение Битрикс24', "section-buttonAccent")
						.block__item
							.item__header.section_h4 НОВЫЕ ВОЗМОЖНОСТИ
							.item__title.section_h3 Оцените новый дизайн мобильной карточки товара
							.item__subtitle Количество «мобильных» покупателей растет с каждым годом. Чтобы вы не теряли ни одного клиента, выбор и покупка товаров в мобильной версии вашего сайта на Пульсе цен теперь максимально простые и удобные.
							+button('Оставить заявку на подключение Битрикс24', 'Оставить заявку на подключение Битрикс24', "section-buttonAccent")
		include ./modules/footer.pug
	//- p {crm_analytics:show_page(network_actions,НК_Оставить_товары_curData)}
