/** @format */
$corporate_color: #028dd8;
$main_text_color: #1d4262;
$forButton: #0d5490;
$color_white: #fff;
$accentF: #8a85db;
$accent: linear-gradient(207.1deg, #028DD8 -60.67%, #0258D8 146.92%);
$accentColor: #0258D8;

:root {
	--section: 80px;
	--block: 40px;
}
