/** @format */
$corporate_color: #0463da;
$main_text_color: #1d4262;
$forButton: #0d5490;
$color_white: #fff;
$accentF: #8a85db;
$accent: linear-gradient(264.01deg, #369fff -54.86%, #0c55d7 114.89%);
$accentColor: #0c55d7;

:root {
	--section: 80px;
	--block60: 60px;
	--block: 40px;
	--heit: fit-content;
}
