<!-- @format -->
include ./miksins.pug


html(lang="ru")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		title= "оставить товары"
	body.js-body
		.main_content
			header
				include ./modules/toolbar.pug
			section.sectionTab.blog(data-tab = 'blog') 
				.content 
					.blog__wrapper 
						.blog_themes.theme
							p.theme__heading.section_h3 Темы
							.theme__desktop(data-content="blog")
								.theme__item(id='sale' href='#sale') Про увеличение продаж
								.theme__item(id='online') Про онлайн-сервисы
								.theme__item(id='site') Про сайт
								.theme__item(id='workClient') Про работу с клиентами
								.theme__item(id='tradingFloor') Про торговые площадки
								.theme__item(id='yandex') Про продвижение в Яндексе
							.theme__mobile
								.select__dropdown
									.dropdown__title Про увеличение продаж
									.dropdown__option(data-content="blog")
										.option__item(value='sale' ) Про увеличение продаж
										.option__item(value='online') Про онлайн-сервисы
										.option__item(value='site') Про сайт
										.option__item(value='workClient') Про работу с клиентами
										.option__item(value='tradingFloor') Про торговые площадки
										.option__item(value='yandex') Про продвижение в Яндексе

						.blog_article.article
							p.article__heading.section_h2 Блог пульса цен
							p.article__subtitle Полезные идеи для развития бизнеса. Читайте. Применяйте. Получайте результат.
							.article__new.new
								.new__heading.section_h3 Новое
								.new__block 
									a.block__item(href='#' target="_blank")
										.item__img 
											img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/312337/content_anons_katalog_300.png", alt="")
										.item__heading Главные обновления портала
										.item__subtitle 10 обновлений Пульса цен на начало 2022 года
									a.block__item(href='#' target="_blank")
										.item__img 
											img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/312337/content_anons_katalog_300.png", alt="")
										.item__heading Как моментально расширить ассортимент и сразу запустить продажи	
										.item__subtitle Новая услуга «Дилер — Дистрибьютор»
									a.block__item(href='#' target="_blank")
										.item__img
											img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/312337/content_anons_katalog_300.png", alt="")
										.item__heading Как теперь оформлять товары для увеличения трафика
										.item__subtitle Товары, которые видят и покупают
							.article__theme#theme
								.themeBlock(data-theme="sale")
									.theme__heading.section_h3 Про увеличение продаж
									.theme__block
										a.block__item(href='#' target="_blank")
											.item__img 
												img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/312337/content_anons_katalog_300.png", alt="")
											.item__heading Главные обновления портала
											.item__subtitle 10 обновлений Пульса цен на начало 2022 года
										a.block__item(href='#' target="_blank")
											.item__img 
												img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/312337/content_anons_katalog_300.png", alt="")
											.item__heading Как моментально расширить ассортимент и сразу запустить продажи	
											.item__subtitle Новая услуга «Дилер — Дистрибьютор»
										a.block__item(href='#' target="_blank")
											.item__img
												img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/312337/content_anons_katalog_300.png", alt="")
											.item__heading Как теперь оформлять товары для увеличения трафика
											.item__subtitle Товары, которые видят и покупают
										a.block__item(href='#' target="_blank")
											.item__img 
												img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/312337/content_anons_katalog_300.png", alt="")
											.item__heading Главные обновления портала
											.item__subtitle 10 обновлений Пульса цен на начало 2022 года
										a.block__item(href='#' target="_blank")
											.item__img 
												img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/312337/content_anons_katalog_300.png", alt="")
											.item__heading Как моментально расширить ассортимент и сразу запустить продажи	
											.item__subtitle Новая услуга «Дилер — Дистрибьютор»
										a.block__item(href='#' target="_blank")
											.item__img
												img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/312337/content_anons_katalog_300.png", alt="")
											.item__heading Как теперь оформлять товары для увеличения трафика
											.item__subtitle Товары, которые видят и покупают
										a.block__item(href='#' target="_blank")
											.item__img 
												img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/312337/content_anons_katalog_300.png", alt="")
											.item__heading Главные обновления портала
											.item__subtitle 10 обновлений Пульса цен на начало 2022 года
										a.block__item(href='#' target="_blank")
											.item__img 
												img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/312337/content_anons_katalog_300.png", alt="")
											.item__heading Как моментально расширить ассортимент и сразу запустить продажи	
											.item__subtitle Новая услуга «Дилер — Дистрибьютор»
										a.block__item(href='#' target="_blank")
											.item__img
												img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/312337/content_anons_katalog_300.png", alt="")
											.item__heading Как теперь оформлять товары для увеличения трафика
											.item__subtitle Товары, которые видят и покупают
									
								.themeBlock(data-theme="online")
									.theme__heading.section_h3 Про онлайн-сервисы
								.themeBlock(data-theme="site")
									.theme__heading.section_h3 Про сайт
								.themeBlock(data-theme="workClient")
									.theme__heading.section_h3 Про работу с клиентами
								.themeBlock(data-theme="tradingFloor")
									.theme__heading.section_h3 Про торговые площадки
								.themeBlock(data-theme="yandex")
									.theme__heading.section_h3 Про продвижение в Яндексе

			//- кейсы
			section.sectionTab.case(data-tab='cases')
				.content 
					.section_h2 Кейсы
					.case__subtitle Полезные идеи для развития бизнеса. Читайте. Применяйте. Получайте результат.
					.case__wrapper
						.wrapper__block.wrapper__blockMedika
							.block__heading СТРОЙКАПИТАЛ #[span.accent «Бизнес. Платина»]
							.block__subtitle Продажа	 стройматериалов, грузоперевозки, г. Екатеринбург
							.block__result 
								p.fat За 2021 год:
								p #[span.accentOrange 51 067] просмотров товаров
								p #[span.accentOrange 35 660] посетителей сайта
								p #[span.accentOrange 446] заказов на общую сумму #[span.accentOrange 22,4] млн руб.
							+buttonEvent('Смотреть кейс полностью', 'Смотреть кейс полностью', 'section-button', 'button1', 'popup1')
						.wrapper__block
							.block__heading СТРОЙКАПИТАЛ #[span.accent «Бизнес. Платина»]
							.block__subtitle Продажа	 стройматериалов, грузоперевозки, г. Екатеринбург
							.block__result 
								p.fat За 2021 год:
								p #[span.accentOrange 51 067] просмотров товаров
								p #[span.accentOrange 35 660] посетителей сайта
								p #[span.accentOrange 446] заказов на общую сумму #[span.accentOrange 22,4] млн руб.
							+buttonEvent('Смотреть кейс полностью', 'Смотреть кейс полностью', 'section-button button', 'popap1', 'popup1')
					.case__wrapper
						.wrapper__block
							.block__heading СТРОЙКАПИТАЛ #[span.accent «Бизнес. Платина»]
							.block__subtitle Продажа	 стройматериалов, грузоперевозки, г. Екатеринбург
							.block__result 
								p.fat За 2021 год:
								p #[span.accentOrange 51 067] просмотров товаров
								p #[span.accentOrange 35 660] посетителей сайта
								p #[span.accentOrange 446] заказов на общую сумму #[span.accentOrange 22,4] млн руб.
							+buttonEvent('Смотреть кейс полностью', 'Смотреть кейс полностью', 'section-button button', 'popap1', 'popup1')
						.wrapper__block
							.block__heading СТРОЙКАПИТАЛ #[span.accent «Бизнес. Платина»]
							.block__subtitle Продажа	 стройматериалов, грузоперевозки, г. Екатеринбург
							.block__result 
								p.fat За 2021 год:
								p #[span.accentOrange 51 067] просмотров товаров
								p #[span.accentOrange 35 660] посетителей сайта
								p #[span.accentOrange 446] заказов на общую сумму #[span.accentOrange 22,4] млн руб.
							+buttonEvent('Смотреть кейс полностью', 'Смотреть кейс полностью', 'section-button button', 'popap1', 'popup1')
			//- отзывы
			section.sectionTab.reviews(data-tab='reviews')
				.content
					.section_h2.fat отзывы				
					.reviews__subtitle Полезные идеи для развития бизнеса. Читайте. Применяйте. Получайте результат.
					.reviews__block
						.block__wrapper 
							.block__item 
								<iframe class="item__reviews" width="560" src="https://www.youtube.com/embed/_K23P2Kkrqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							p.item__title НП Камская химическая компания
							p.item__city г. Пермь
						.block__wrapper
							.block__item 
								<iframe class="item__reviews" width="560" src="https://www.youtube.com/embed/iFAYDuPkuM8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							p.item__title Гроссталь
							p.item__city г. Екатеринбург
						.block__wrapper
							.block__item 
								<iframe class="item__reviews" width="560" src="https://www.youtube.com/embed/c2Mg-k903Yk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							p.item__title Первая компрессорная компания
							p.item__city г. Челябинск
							
						.block__wrapper
							.block__item 
								<iframe class="item__reviews" width="560" src="https://www.youtube.com/embed/c-DZjFeqcOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							p.item__title компания
							p.item__city город
						.block__wrapper
							.block__item 
								<iframe class="item__reviews" width="560"  src="https://www.youtube.com/embed/y2QMZFobjjE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							p.item__title Промышленная группа Алмет
							p.item__city г. Челябинск
						.block__wrapper
							.block__item 
								<iframe class="item__reviews" width="560" src="https://www.youtube.com/embed/6Lx5kUYqHPU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							p.item__title Инпластполимер
							p.item__city г. Екатеринбург
						.block__wrapper
							.block__item 
								<iframe  class="item__reviews" width="560" src="https://www.youtube.com/embed/NROul-Tak9g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							p.item__title "Топол-эко" Урал
							p.item__city г. Екатеринбург
						.block__wrapper
							.block__item 
								<iframe class="item__reviews" width="560" src="https://www.youtube.com/embed/GvgKZJKHOt8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							p.item__title Голд-Ресурс
							p.item__city г. Пермь

			//- инструкция
			section.sectionTab.instruction(data-tab = 'instruction') 
				.content 
					.blog__wrapper 
						.instruction_themes.theme
							p.theme__heading.section_h3 Темы
							.theme__desktop(data-content="instruction")
								.theme__item(id='saleInstruction' href='#sale') Про увеличение продаж
								.theme__item(id='onlineInstruction') Про онлайн-сервисы
								.theme__item(id='siteInstruction') Про сайт
								.theme__item(id='workClientInstruction') Про работу с клиентами
								.theme__item(id='tradingFloorInstruction') Про торговые площадки
								.theme__item(id='yandexInstruction') Про продвижение в Яндексе
							.theme__mobile
								.select__dropdown
									.dropdown__title(value='saleInstruction' ) Про увеличение продаж
									.dropdown__option(data-content="instruction")
										.option__item(value='saleInstruction' ) Про увеличение продаж
										.option__item(value='onlineInstruction') Про онлайн-сервисы
										.option__item(value='siteInstruction') Про сайт
										.option__item(value='workClientInstruction') Про работу с клиентами
										.option__item(value='tradingFloorInstruction') Про торговые площадки
										.option__item(value='yandexInstruction') Про продвижение в Яндексе

						.blog_article.article
							p.article__heading.section_h2 Инструкции по работе с Пульсом Цен
							p.article__subtitle Полезные идеи для развития бизнеса. Читайте. Применяйте. Получайте результат.
							.instructionVideo__theme#theme
								.instructionThemeBlock(data-theme="saleInstruction")
									.theme__heading.section_h3 Про увеличение продаж
									.theme__block
										.block__item
											.item__img 
												<iframe  class="item__instruction" width="560" src="https://www.youtube.com/embed/HOthCwFdQ8E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											.item__heading Мария Алюханова: Про Товарное сопровождение
											.item__timing 
												.timing__header
													.header_plank(data-timeButton='1')
													.header__title Тайминг
													.header__button
														.button__false
												.timing__time(data-time='1')
													p 00:00 - вступление
													p 00:00 - вступление
													p 00:00 - вступление
													p 00:00 - вступление
										.block__item
											.item__img 
												<iframe class="item__instruction" width="300" src="https://www.youtube.com/embed/TnWeAiSVgho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											.item__heading Добро пожаловать на Старт!
											.item__timing 
												.timing__header
													.header_plank(data-timeButton='2')
													.header__title Тайминг
													.header__button
														.button__false
												.timing__time(data-time='2')
													p 00:00 - вступление
													p 00:00 - вступление
													p 00:00 - вступление
													p 00:00 - вступление
										.block__item(href='#' target="_blank")
											.item__img
												<iframe class="item__instruction" width="300"  src="https://www.youtube.com/embed/uCZXs0fIMI8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											.item__heading Про услугу «Вся Россия»
											.item__timing 
												.timing__header
													.header_plank(data-timeButton='3')
													.header__title Тайминг
													.header__button
														.button__false
												.timing__time(data-time='3')
													p 00:00 - вступление
													p 00:00 - вступление
													p 00:00 - вступление
													p 00:00 - вступление
										.block__item(href='#' target="_blank")
											.item__img 
												<iframe class="item__instruction" width="300" src="https://www.youtube.com/embed/LhJeGaEibiE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											.item__heading Сколько пользователей в вашем ЛК на ПЦ
											.item__timing 
												.timing__header
													.header_plank(data-timeButton='4')
													.header__title Тайминг
													.header__button
														.button__false
												.timing__time(data-time='4')
													p 00:00 - вступление
													p 00:00 - вступление
													p 00:00 - вступление
													p 00:00 - вступление
										.block__item(href='#' target="_blank")
											.item__img 
												<iframe class="item__instruction" width="300" src="https://www.youtube.com/embed/LIivjwNNj-w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											.item__heading Отзывы, которые продают
											.item__timing 
												.timing__header
													.header_plank(data-timeButton='5')
													.header__title Тайминг
													.header__button
														.button__false
												.timing__time(data-time='5')
													p 00:00 - вступление
													p 00:00 - вступление
													p 00:00 - вступление
													p 00:00 - вступление
										.block__item(href='#' target="_blank")
											.item__img
												<iframe class="item__instruction" width="300" src="https://www.youtube.com/embed/s-MFZBT5e9Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											.item__heading бэкстедж про Синхронизацию ЛК ПЦ с Батрика 24
											.item__timing 
												.timing__header
													.header_plank(data-timeButton='6')
													.header__title Тайминг
													.header__button
														.button__false
												.timing__time(data-time='6')
													p 00:00 - вступление
													p 00:00 - вступление
													p 00:00 - вступление
													p 00:00 - вступление
										.block__item(href='#' target="_blank")
											.item__img 
												<iframe class="item__instruction" width="300" src="https://www.youtube.com/embed/pa10DDQVrdA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											.item__heading 5 секретов ЛК
											.item__timing 
												.timing__header
													.header_plank(data-timeButton='7')
													.header__title Тайминг
													.header__button
														.button__false
												.timing__time(data-time='7')
													p 00:00 - вступление
													p 00:00 - вступление
													p 00:00 - вступление
													p 00:00 - вступление
								.instructionThemeBlock(data-theme="onlineInstruction")
									.theme__heading.section_h3 Про онлайн-сервисы
								.instructionThemeBlock(data-theme="siteInstruction")
									.theme__heading.section_h3 Про сайт
								.instructionThemeBlock(data-theme="workClientInstruction")
									.theme__heading.section_h3 Про работу с клиентами
								.instructionThemeBlock(data-theme="tradingFloorInstruction")
									.theme__heading.section_h3 Про торговые площадки
								.instructionThemeBlock(data-theme="yandexInstruction")
									.theme__heading.section_h3 Про продвижение в Яндексе
			//- include ./modules/footer.pug
			include ./modules/modalStroyCapital.pug
	//- p {crm_analytics:show_page(network_actions,НК_Оставить_товары_curData)}
