mixin toolbar-menu 
	a(href="#all") Все в одном
	a(href="#sate") Готовый сайт за 1 неделю
	a(href="#client") Клиенты из Яндекса, Google и Пульса цен
	a(href="#support") Поддержка
	a(href="#tariff") Тарифы
	a(href="#contact") Контакты


section.toolbar
	.content
		.toolbar__block
			a(href="https://pulscen.ru/")
				img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/183694/content_content_logo-pc_2.png").logo
			nav.desktop
				+toolbar-menu
			nav.modil
				.icon
					.line.line1
					.line.line2
					.line.line3
				.menu
					+toolbar-menu
